*{
  font-family: Arial, Verdana, sans-serif; 
}

*{color: #5b5b5b;
  text-align: center;
  font-weight: bold;
}
#about{
	text-align: right;
}


#header {
   font-family: 'CourierPrimeSansRegular';
   font-weight: normal;
   font-style: normal;
}
body {
  width: 90%;
  margin: 0 auto;
  background-image: url("https://th.bing.com/th/id/R.69574fcc2c642b7eb299c81a97c59176?rik=dBbI2wooamRNfA&pid=ImgRaw&r=0");
  background-repeat: no-repeat;
}
#content {
  overflow: auto;
}

li {
  display: inline;
  padding: 0.5em;
}
#nav {
   margin: 1%;
  background-color: #efefef ;
}
#footer {
   margin: 1%;
  background-color: #efefef;
  padding: 0;
}
#about {
   margin: 1%;
  background-color: #d9d2e9; 
  background-image: url("https://i.pinimg.com/564x/7d/07/e2/7d07e2583b7f2e8dc6e52b018a45202e.jpg");
	background-repeat: repeat;
  width: 100%;
	height:10em;
	margin-bottom: 1em;
}



